@import 'template';

html{
    font-size: 62,5%;
}

body{
    @include MP0;
    background-color: $mainBlue;
}

header{
    @include MP0;
    width: 100%;
    height: 8rem;
    display: fixed;
    top: 0;
    background-color: $mainYellow;

    #headTitle{
        @include MP0;
        @include bigTitle;
        padding: 1.5rem 0 1rem 1rem;
    }
}


   

    #root{
        width: 80%;
        height: 90%;
        @include MP0;
        display: flex;
        flex-wrap: wrap;

        .cardContainer{
            @include MP0;
            margin: 0.5rem 0.5rem 0.5rem 0.5rem;
            width: 8rem;
            height: 12rem;
            background-color: $mainDark;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;

            .imgContainer{
                width: 90%;
                height: 50%;
                @include MP0;
                margin: 0.5rem 0.2rem 0.5rem 0.2rem;
            }

            .editBtn{
                position: absolute;
                @include btnSize;
                background-color: $mainYellow;            
            }

            .deleteBtn{
                position: absolute;
                @include btnSize;
                background-color: $mainRed;
            }

            .viewBtn{
                position: absolute;
                @include btnSize;
                background-color: $mainGreen;

            }

            .cardTextContainer{
                @include MP0;
                width: 90%;
                height: 45%;
                background-color: $mainWhite;
                border-radius: 0.5rem;
                margin: 0.1rem 0.2rem 0.5rem 0.2rem;
                    
                .cardName{
                    @include MP0;
                    @include bigText;
                }
    
                .shortDesc{
                    @include MP0;
                    @include smallText;
                }
            }
            


        }
    }
